{% load staticfiles %}
<html>
	<head>
		<title>Litebits - we help you earn money!</title>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="Some fancy text">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<link rel="icon" type="image/png" href="{% static 'website_app/img/favicon.png' %}" />
		<meta charset="utf-8" />
  
		<!-- CSS  -->
		<!-- Google Material Design Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Materialize CSS Framework -->
		<link href="{% static 'website_app/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
		<!-- Custom CSS -->
		<link href="{% static 'website_app/css/custom.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<body>
	<header>
		<div class="navbar-fixed">
			<nav class="down">
				<div class="nav-wrapper container">
					<a href="#" class="brand-logo">Logo</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="sass.html">Sass</a></li>
						<li><a href="badges.html">Components</a></li>
						<li><a href="collapsible.html">JavaScript</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
	<main>
		<section id="welcome">
			<div class="welcome-message-wrapper container">
				WELCOME TO LITEBITS.<br>
				WE CREATE WEB <span class="typed-message"></span>
				<div id="typed-strings">
					<p>PAGES^1000</p>
					<p>APPS^1000</p>
					<p>SYSTEMS^1000</p>
				</div>
			</div>
		</section>

		<section id="whatweoffer">

		</section>

		<div id="team">
			<span class="team-heading">OUR TEAM</span>
			<span class="team-subheading">That will help <span class="highlight-text">YOU</span> earn money</span>
			<div class="team-container container">
				{% for member in members %}
					<div class="member">
						<img class="team-member-image" src="{{ member.img }}">
						<h5 class="member-name">{{ member.name }}</h5>
						<h6 class="member-job">{{ member.job }}</h6>
						<p class="member-resume">{{ member.resume }}</p>
						<div class="social-icon-wrapper">
							<a href="{{ member.facebook }}"><img class="social-icon" src="{% static "website_app/img/facebook.png" %}"></a>	
						</div>
						<div class="social-icon-wrapper">
							<a href="{{ member.twitter }}"><img class="social-icon" src="{% static "website_app/img/twitter.png" %}"></a>
						</div>
						<div class="social-icon-wrapper">
							<a href="{{ member.linkedin }}"><img class="social-icon" src="{% static "website_app/img/linkedin.png" %}"></a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>



	<div class="col hide-on-small-only m3 l2 fixed">
      <ul class="section table-of-contents">
        <li><a href="#welcome">Welcome</a></li>
        <li><a href="#projects">Our Projects</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#getintouch">Get In Touch</a></li>
      </ul>
    </div>

	<!-- jQuery Library -->
	<script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
	<!-- Materialize.js -->
	<script src="{% static 'website_app/js/materialize.js' %}" type="text/javascript"></script>
	<!-- Materialize.js Initialization -->
	<script src="{% static 'website_app/js/init.js' %}" type="text/javascript"></script>
	<!-- Typed.js Initialization -->
	<script src="{% static 'website_app/js/typed.js' %}" type="text/javascript"></script>
	<!-- Header 2.0 Initialization -->
	<script src="{% static 'website_app/js/header 2.0.js' %}" type="text/javascript"></script>
	</body> 
</html>