{% load staticfiles %}
<html>
	<head>
		<title>Litebits - we help you earn money!</title>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="Some fancy text">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<link rel="icon" type="image/png" href="{% static 'website_app/img/favicon.png' %}" />
		<meta charset="utf-8" />
  
		<!-- CSS  -->
		<!-- Google Material Design Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Materialize CSS Framework -->
		<link href="{% static 'website_app/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
		<!-- Custom CSS -->
		<link href="{% static 'website_app/css/custom.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<body>

	<!--Preloader-->

	<div id="preloader">
	    <div class="preloader-wrapper big active">
	      <div class="spinner-layer spinner-blue-only">
	        <div class="circle-clipper left">
	          <div class="circle"></div>
	        </div><div class="gap-patch">
	          <div class="circle"></div>
	        </div><div class="circle-clipper right">
	          <div class="circle"></div>
	        </div>
	      </div>
	    </div>
	</div>
	<section id="content" class="hide">
		<header>
			<div class="navbar-fixed">
				<nav class="down">
					<div class="nav-wrapper container">
						<a href="/" class="brand-logo">Logo</a>
						<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li><a href="#projects">Projects</a></li>
							<li><a href="#team">Team</a></li>
							<li><a href="#contactus">Contact Us</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<main>
			<section id="welcome">
				<div class="welcome-message-wrapper container">
					WELCOME TO LITEBITS.<br>
					WE CREATE WEB <span class="typed-message"></span>
					<div id="typed-strings">
						<p>PAGES^500</p>
						<p>APPS^500</p>
						<p>SYSTEMS^500</p>
						<p>FUTURE!^500</p>
					</div>
				</div>
			
				<button data-target="welcome-cta-modal" id="welcome-cta-button" class="btn black modal-trigger"><i class="material-icons left">chat_bubble</i>Let's work together</button>

				 <!-- Modal Structure -->
				<div id="welcome-cta-modal" class="modal">
					<div class="modal-content">
						<h4>Let's work together</h4>
						<div class="row">
							<form class="col s12">
								<div class="row">
									<div class="input-field col s12">
										<i class="material-icons prefix">email</i>
										<input id="email" type="email" class="validate">
										<label for="email">Email</label>
									</div>
								</div>

								<div class="row" style="margin-bottom: 0;">
									<div class="input-field col s12">
										<i class="material-icons prefix">message</i>
										<textarea id="form-user-message" class="materialize-textarea"></textarea>
										<label for="form-user-message">Describe your idea here...</label>
									</div>
								</div>

								<div class="row">
									<div style="margin-top: 0;" class="input-field col s12">
										<input type="checkbox" id="email-confirmation"/>
      									<label for="email-confirmation">I confirm that email is correct</label>
									</div>
								</div>

							</form>
					 	</div>
					</div>
					<div class="modal-footer">
						<a href="#!" class=" modal-action modal-close waves-effect waves-green btn black">Agree</a>
					</div>
				</div>
			</section>

			<section id="projects">

			</section>

			<div id="team">
				<span class="team-heading">OUR TEAM</span>
				<span class="team-subheading">That will help <span class="highlight-text">YOU</span> earn money</span>
				<div class="team-container container">
					{% for member in members %}
						<div class="member">
							<img class="team-member-image" src="{{ member.img }}">
							<h5 class="member-name">{{ member.name }}</h5>
							<h6 class="member-job">{{ member.job }}</h6>
							<p class="member-resume">{{ member.resume }}</p>
							<div class="social-icon-wrapper">
								<a href="{{ member.facebook }}"><img class="social-icon" src="{% static "website_app/img/facebook.png" %}"></a>	
							</div>
							<div class="social-icon-wrapper">
								<a href="{{ member.twitter }}"><img class="social-icon" src="{% static "website_app/img/twitter.png" %}"></a>
							</div>
							<div class="social-icon-wrapper">
								<a href="{{ member.linkedin }}"><img class="social-icon" src="{% static "website_app/img/linkedin.png" %}"></a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</main>
	</section>

	<!-- jQuery Library -->
	<script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
	<!-- Materialize.js -->
	<script src="{% static 'website_app/js/materialize.js' %}" type="text/javascript"></script>
	<!-- Preloader.js -->
	<script src="{% static 'website_app/js/preloader.js' %}" type="text/javascript"></script>
	<!-- Materialize.js Initialization -->
	<script src="{% static 'website_app/js/init.js' %}" type="text/javascript"></script>
	<!-- Typed.js Initialization -->
	<script src="{% static 'website_app/js/typed.js' %}" type="text/javascript"></script>
	<!-- Header 2.0 Initialization -->
	<script src="{% static 'website_app/js/header 2.0.js' %}" type="text/javascript"></script>
	</body> 
</html>