{% load staticfiles %}
<html>
	<head>
		<title>Crrency - Transparent economic network</title>
		<meta charset="UTF-8">
		<meta name="description" content="CV WEB">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<link rel="icon" type="image/png" href="{% static 'website_app/img/favicon.png' %}" />
		<!-- CSS  -->
		<!-- Google Material Design Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Materialize CSS Framework -->
		<link href="{% static 'website_app/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
		<!-- Custom CSS -->
		<link href="{% static 'website_app/css/custom.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<body>
		<div id="team">
			<div class="row container">
				{% for member in members %}
					<div class="col s12 l3 member">
						<img class="team-member-image" src="{{ member.img }}">
						<h5 class="member-name">{{ member.name }}</h5>
						<h6 class="member-job">{{ member.job }}</h6>
						<p>{{ member.resume }}</p>
						<a href="{{ member.facebook }}">Facebook</a>
						<a href="{{ member.twitter }}">Twitter</a>
						<a href="{{ member.linkedin }}">Linked In</a>
					</div>
				{% endfor %}
				{% for member in members %}
					<div class="col s12 l3 member">
						<img class="team-member-image" src="{{ member.img }}">
						<h5 class="member-name">{{ member.name }}</h5>
						<h6 class="member-job">{{ member.job }}</h6>
						<p>{{ member.resume }}</p>
						<a href="{{ member.facebook }}">Facebook</a>
						<a href="{{ member.twitter }}">Twitter</a>
						<a href="{{ member.linkedin }}">Linked In</a>
					</div>
				{% endfor %}
				{% for member in members %}
					<div class="col s12 l3 member">
						<img class="team-member-image" src="{{ member.img }}">
						<h5 class="member-name">{{ member.name }}</h5>
						<h6 class="member-job">{{ member.job }}</h6>
						<p>{{ member.resume }}</p>
						<a href="{{ member.facebook }}">Facebook</a>
						<a href="{{ member.twitter }}">Twitter</a>
						<a href="{{ member.linkedin }}">Linked In</a>
					</div>
				{% endfor %}
				{% for member in members %}
					<div class="col s12 l3 member">
						<img class="team-member-image" src="{{ member.img }}">
						<h5 class="member-name">{{ member.name }}</h5>
						<h6 class="member-job">{{ member.job }}</h6>
						<p>{{ member.resume }}</p>
						<a href="{{ member.facebook }}">Facebook</a>
						<a href="{{ member.twitter }}">Twitter</a>
						<a href="{{ member.linkedin }}">Linked In</a>
					</div>
				{% endfor %}
			</div>
		</div>
	

	<!-- jQuery Library -->
	<script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
	<!-- Materialize.js -->
	<script src="{% static 'website_app/js/materialize.js' %}" type="text/javascript"></script>
	<!-- Materialize.js Initialization -->
	<script src="{% static 'website_app/js/init.js' %}" type="text/javascript"></script>
	</body> 
</html>