.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 1s infinite;
	-moz-animation: blink 1s infinite;
	animation: blink 1s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}


/* Preloader */

.preloader-wrapper {position: fixed;z-index: 999;margin: auto;top: 0;left: 0;bottom: 0;right: 0;}
.preloading {opacity: 0;-webkit-transition: opacity 250ms; transition: opacity 250ms;}
.preloaded {opacity: 1;-webkit-transition: opacity 250ms; transition: opacity 250ms;}

body{
	min-width: 300px;
}

#welcome{
	height: calc(100vh - 64px);
	width:100vw;
	background-color: #9E9E9E;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
}

#welcome-cta-button{
    display: none;
}

#welcome-cta-modal{
    text-align: left;
}

/* Overriding modal footer button padding and margin*/
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
    margin: 0px 0;
}

.modal .modal-footer {
    padding: 0px 24px;
}

/*  END  */

.down{
    top: 0px;
    transition: top 0.25s ease-in-out;
}

.up{
    top: -64px;
    transition: top 0.25s ease-in-out;
}

.welcome-message-wrapper {
    font-size: 46px;
    font-weight: bold;
}

.typed-message {
    font-size: 46px;
    font-weight: bold;
    color:white;
    background-color: black;
}

i.material-icons.prefix {
    line-height: inherit !important;
}

.team-container{
    margin:auto;
    text-align: center;
}
.member {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    width:25%;
    margin: 10px;
    display: inline-block;
    text-align: left;
}
.team-member-image {
    width: 100%;
}
.member-name {
    font-weight: 300;
    color: #757575;
}
.member-job {
    font-weight: bold;
}
.member-resume{
	color: #444;
}
.social-icon-wrapper {
    height: 36px;
    width: 36px;
    display: inline-block;
}
.social-icon{
	width: 100%;
	height: 100%;
}

